.course-card-list {
  max-width: 1048px;
}

.title {
  font-size: 1.3rem;
  color: #444;
}

.average {
  font-weight: 400;
}

.logout-btn {
  border-width: 0;
  text-transform: capitalize;
  .mdc-button__label{
    color: #555;
  }
}

.logout-btn.mdc-button::before, .logout-btn.mdc-button::after {
  background-color: var(--mdc-theme-primary, #555);
}

.animation-card{
  z-index: 500;
  position: absolute;
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.white-bg{
  background: white;
}