.vertical-divider{
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  margin-left: 100px;
  margin-right: 100px;
  height: 300px;
}

label{
  .mdc-typography--body2{
    padding-top: 1.5px;
  }
}

.login-footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-text{
  text-align: center;
  padding-bottom: 8px;
}

a{
  color: #4183C4;
}