::-moz-selection {
    background: #b3d4fc;
}

::selection {
    background: #b3d4fc;
}

.selectable {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.3;
    background: #fafafa;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: calc(100vw * 0.75);
    background: url("screenshot_background.png");
    background-size: contain;
}

.logo-big {
    width: 25%;
}

.app-name {
    margin: 0;
    color: white;
    font-size: 28px;
}

.app-intro {
    margin: 8px 0 16px;
    padding-right: 16px;
    padding-left: 16px;
    color: white;
    font-size: 18px;
}
