.title {
  font-size: 1.3rem;
  color: #444;
}

.side-panel {
  z-index: 999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px;

  .mdc-typography--headline5 {
    font-size: 1.3rem;
  }

  .material-icons {
    color: #9E9E9E;
  }

  .selected {
    background: #eee;
  }
}

.main-panel-root {
  position: absolute;
  left: 300px;
  top: 0;
  right: 0;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;

  background: #fafafa;
}

.title-bar {
  position: relative;
  background: white;
  z-index: 600;

  .tab-bar {
    width: 400px;
  }

  .back-button {
    position: absolute;
    left: 16px;
    top: 28px;
  }
}

.float-back-button{
  z-index: 550;
  position: fixed;
  left: 316px;
  top: 16px;

  color: #333;
}

.assignment-desc{
  color: #666;
}

.assignment-feedback{
  color: #222;
}

svg {
  text {
    font-family: Roboto, sans-serif;
    fill: #333;
  }

  text.percent{
    font-size: 16px;
  }

  text.get{
    font-size: 12px;
  }

  text.category {
    font-size: 16px;
  }

  text.weight {
    font-size: 12px;
  }
}

.overall {
  font-weight: 400;
}