.linear-layout{
  display: flex;
}

.vertical{
  flex-direction: column;
}

.vertical.reverse{
  flex-direction: column-reverse;
}

.horizontal{
  flex-direction: row;
}

.horizontal.reverse{
  flex-direction: row-reverse;
}

.align-start{
  justify-content: flex-start;
}

.align-center{
  justify-content: center;
}

.align-end{
  justify-content: flex-end;
}

.align-space-between{
  justify-content: space-between;
}

.item-center{
  align-items: center;
}

.item-end{
  align-items: flex-end;
}

.item-stretch{
  align-items: stretch;
}

.wrap{
  flex-wrap: wrap;
  align-items: stretch;
}