.linear-progress-indicator {
  position: relative;

  .foreground-primary {
    stroke: $mdc-theme-primary;
  }

  .foreground-secondary {
    stroke: $mdc-theme-secondary;
  }

  .background {
    stroke: #E0E0E0;
  }

  svg{
    position: absolute;
  }

  text {
    font-size: 14px;
    font-family: sans-serif;
  }
}