$mdc-theme-primary: #03a9f4;
$mdc-theme-secondary: #80d8ff;
$mdc-theme-on-primary: #ffffff;
$mdc-theme-on-secondary: #000000;
$error-color: #dc002b;

@import "@material/react-typography/index.scss";
@import "@material/react-text-field/index.scss";
@import "@material/react-button/index.scss";
@import "@material/react-material-icon/index.scss";
@import "@material/react-text-field/helper-text/index.scss";
@import "circular-progress-bar";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "login-page";

::-moz-selection {
  color: white;
  background: $mdc-theme-primary;
}

::selection {
  color: white;
  background: $mdc-theme-primary;
}

body{
  margin: 0;
}

.mdc-typography{
  margin: 0;
}

.full-page{
  width: 100vw;
  height: 100vh;
}

.invisible{
  display: none;
}