$mdc-theme-primary: #03a9f4;
$mdc-theme-secondary: #80d8ff;
$mdc-theme-on-primary: #ffffff;
$mdc-theme-on-secondary: #000000;
$error-color: #dc002b;

@import "@material/react-typography/index.scss";
@import "@material/react-text-field/index.scss";
@import "@material/react-button/index.scss";
@import "@material/react-material-icon/index.scss";
@import "@material/react-text-field/helper-text/index.scss";
@import '@material/react-card/index.scss';
@import '@material/react-checkbox/index.scss';
@import '@material/react-tab-bar/index.scss';
@import '@material/react-tab-scroller/index.scss';
@import '@material/react-tab/index.scss';
@import '@material/react-tab-indicator/index.scss';
@import '@material/react-dialog/index.scss';
@import "components/circular-progress-bar";
@import "components/linear-progress-indicator";
@import '@material/react-icon-button/index.scss';
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "loginpage/login-page";
@import "summarypage/summary-page";
@import "detailpage/detail-page";

::-moz-selection {
  background: #b3d4fc;
}

::selection {
  background: #b3d4fc;
}

body {
  margin: 0;
  background: #fafafa;
  overflow-x: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mdc-typography {
  margin: 0;
}

.full-width {
  width: 100%;
}

.full-page {
  width: 100vw;
  height: 100vh;
}

.background {
  background: #fafafa;
}

.invisible {
  display: none;
}

.mdc-typography--subtitle1 {
  line-height: 1rem;
}

.mdc-typography--headline5 {
  line-height: 1.7rem;
}

.root-div {
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.root-div::-webkit-scrollbar {
  display: none;
}

svg {
  text {
    dominant-baseline: middle;
    text-anchor: middle;
  }
}


.selectable {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}